@import "../../vars.css";

.container {
  display: flex;
  flex-direction: row; /* Horizontal layout */
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  width: 100%;
  max-width: 800px; /* Optional: Set a max-width for better readability */
  box-sizing: border-box;
  margin-bottom: 20px; /* Add some space between cards */
}

.image {
  width: 200px; /* Fixed width for images */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure images cover the area without distortion */
  margin-right: 20px; /* Space between image and text */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 14px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 20px; /* Decreased font size */
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}